@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #010618;
  --secondary-color: #0A1225;
  --font-color: #b7c4cf;
  --font-jost: 'Jost', sans-serif;
  --font-source-code-pro: 'Source Code Pro', monospace;
}
 
body {
  margin: 0;
  font-family: var(--font-jost);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-source-code-pro);
}